export(
  "as_balanced",
  "binary_metrics",
  "binary_metrics_glm",
  "breaks_growth",
  "compare_countries",
  "exponential_growth",
  "hawkes_growth",
  "hist_ci", 
  "is_balanced",
  "load_infections_paneldata",
  "logistic_growth",
  "metrics",
  "nbmatrix",
  "nbstat",
  "plot_coef_ci",
  "quantile_ci", 
  "R_t",
  "swash_backwash"
  )
exportMethods(
  "calculate_cum",
  "calculate_incidence",
  "calculate_rollmean",
  "calculate_rollsum",
  "calculate_Rt",
  "confint",
  "plot",
  "print",
  "summary",
  "swash",
  "growth",
  "growth_breaks",
  "growth_hawkes",
  "growth_initial",
  "timestamps"
)
exportClasses(
  "breaksgrowth",
  "countries",
  "expgrowth",
  "growthmodels",
  "hawkes",
  "infpan",
  "loggrowth",
  "sbm",
  "sbm_ci"
)

importFrom(
  "graphics", 
   "abline", 
   "barplot", 
   "hist", 
   "par", 
   "boxplot", 
   "lines", 
   "axis", 
   "grid", 
   "mtext", 
   "points", 
   "rect",
   "text",
   "legend", 
   "polygon"
)
importFrom(
  "methods", 
  "new",
  "validObject"
  )
importFrom(
  "stats", 
  "aggregate",
  "as.formula",
  "complete.cases",
  "dpois",
  "lm", 
  "median", 
  "nls", 
  "optim",
  "quantile",
  "coef",
  "predict"
  )
importFrom(
  "grDevices", 
  "dev.new",
  "rgb"
  )
importFrom(
  "lubridate", 
  "is.Date"
  )
importFrom(
  "spdep",
  "poly2nb"
)
import("sf")
importFrom(
  "zoo",
  "rollmean",
  "rollsum"
)
importFrom(
  "strucchange",
  "breakpoints"
)
importFrom(
  "utils", 
  "head", 
  "tail"
  )